<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>    

<script >
		function cpu()
		{	
				location.href='/cpu';
		}
		function ram()
		{	
				location.href='/ram';
		}
		function proc()
		{	
				location.href='/proc';
		}
	</script>
</head>
<body>
	<center>
<h1>MENU</h1>
<form>

</br>
</br>
</br>
<input type="button"
onclick="ram()"
value="Rendimiento RAM">
</br>
</br>
</br>
<input type="button"
onclick="cpu()"
value="Rendimiento CPU">
</br>
</br>
</br>
<input type="button"
onclick="proc()"
value="Procedimientos">
	
</form>
	<center>

</body>
</html>
